@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #fdbf5c;
  --orange: #f69a0b;
  --red: #d43a00;
  --darkRed: #9b0800;
  --darkBlue: #1d2440;
  --dark-900: #1c1c1c;
  --surface: var(--dark-900);
}



.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
}

.card p {
  margin: 5px 0;
  color: #555;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select#bairroSelect {
  padding: 6px 10px;
  font-size: 1rem;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.container-cards {
  display: flex;           /* Organiza os filhos em linha */
  gap: 16px;               /* Espaçamento entre os cards */
  overflow-x: auto;        /* Barra de rolagem horizontal, se necessário */
  padding: 10px;
}

.card {
  flex: 0 0 auto;          /* Impede que o card encolha ou cresça */
  width: 200px;            /* Largura fixa para cada card */
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
}

